<div class="container">
  <h1>Topplistan</h1>
  <app-toplist-item *ngFor="let pair of pairList let i = index"
                    [yogiDetails]="pair[0]"
                    [profile]="pair[1]"
                    [position]="i + 1">
  </app-toplist-item>
  <div class="loading-item" 
    *ngFor="let item of loadingList let i = index">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
</div>

