<div class="container">
    <h3>Betygsfördelning</h3>
    <h3>Närvaro</h3>
    <app-grade-distribution [yogiDetails]="yogiDetails"></app-grade-distribution>
    <div class="statsWrapper">
        <mat-icon>mood</mat-icon>
        <div>Närvarande: </div>
        <div class="stats">{{ yogiDetails.attending }}</div>
        
        <mat-icon>sentiment_very_dissatisfied</mat-icon>
        <div>Frånvarande: </div>
        <div class="stats">{{ yogiDetails.absent }}</div>

        <mat-icon>whatshot</mat-icon>
        <div>Procent: </div>
        <div class="stats" [ngStyle]="{'color' : attendanceColor }">{{ yogiDetails.percent*100 }}%</div>
    </div>
</div>