/* ----------- Container ----------- */

.profile-container {
    display: grid;
    grid-template-columns: 5fr 1vw 3fr;
    grid-gap: 2vw;
    align-items: stretch;
    justify-items: center;
}

@media screen and (max-width: 768px) {
    .profile-container {
        grid-template-columns: 1fr;
    }
}

/* ----------- Separator ----------- */

.separator {
    border-left: 2px solid black;
    justify-self: center;
    align-self: stretch;
}

@media screen and (max-width: 768px) {
    .separator {
        border-top: 2px solid black;
        justify-self: stretch;
        margin: 2vw;
    }
}

/* ----------- Img ----------- */

.profile-img {
    margin: 4vw;
}

.profile-img img {
    width: 100%;
}


/* ----------- Name ----------- */

.profile-name {
    margin: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--black);
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
}
.name, .surname {
    font-size: 50px;
}

.nickname {
    font-style: italic;
    font-size: 40px;
}

.icon {
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    .icon {
        display: none;
    }
}