.container {
    margin: 4em;
    display: grid;
    grid-gap: 2em;
    grid-auto-columns: 1fr 2fr 2fr;
}

.score {
    grid-column: 1;
    grid-row: 1 / 3;
}

.score div {
    display: flex;
    font-size: 128px;
    font-weight: 900;
}

.description {
    grid-column: 2 / 4;
    text-align: justify;
}

.traits {
    grid-column: 2;
}

.achivements {
    grid-column: 3;
}

p {
    font-size: 24px;
    margin: 0.5em 0;
}

h2 {
    color: var(--black);
    font-size: 48px;
    margin: 0.5em 0;
}

@media screen and (max-width: 768px) {
    .container {
        grid-auto-columns: 1fr;
        margin: 10px;
        grid-gap: 10px;
    }
    
    .score {
        grid-column: 1;
        grid-row: 1;
    }
    
    .score div {
        font-size: 128px;
        font-weight: 900;
        border-left: 4px solid var(--black);
        margin: 0.1em;
    }
    
    .description {
        grid-column: 1;
        text-align: justify;
    }
    
    .traits {
        grid-column: 1;
    }
    
    .achivements {
        grid-column: 1;
    }
    
    p {
        font-size: 16px;
        margin: 0.5em 0;
    }
    
    h2 {
        color: var(--black);
        font-size: 36px;
        margin: 0.5em 0;
    }
}

/* Loading */

.spinner {
    padding: 0.1em;
    height: 1em;
  }
  
  .cube1, .cube2 {
    background-color: #333;
    width: 0.25em;
    height: 0.25em;
    animation: sk-cubemove 1.8s infinite ease-in-out;
  }
  
  .cube2 {
    animation-delay: -0.9s;
  }
  
  @keyframes sk-cubemove {
    25% { 
      transform: translateX(0.5em) rotate(-90deg) scale(0.5);
    } 50% { 
      transform: translateX(0.5em) translateY(0.5em) rotate(-180deg);
    } 75% { 
      transform: translateX(0em) translateY(0.5em) rotate(-270deg) scale(0.5);
    } 100% { 
      transform: rotate(-360deg);
    }
  }