<div *ngIf="profile" class="container">
  <div class="score">
    <h2>Score</h2>
    <div *ngIf="!yogiDetails" class="spinner">
      <div class="cube1"></div>
      <div class="cube2"></div>
    </div>
    <div *ngIf="yogiDetails">{{yogiDetails.currentScore}}</div>
  </div>
  <div class="description">
    <h2>Om {{profile.name}}</h2>
    <div *ngFor="let paragraph of profile.description">
      <p>{{paragraph}}</p>
    </div>
  </div>
  <div class="traits">
    <h2>Egenskaper</h2>
    <div *ngFor="let trait of profile.traits">
      <p>{{trait}}</p>
    </div>
  </div>
  <div class="achivements">
    <h2>Utmärkelser</h2>
    <div *ngFor="let achivement of profile.achivements">
      <p>{{achivement}}</p>
    </div>
  </div>
</div>