
.thumb-container {
    padding: 0.5em;
    box-shadow: 0 1px 6px var(--shadow);
    width: 100%;
    box-sizing: border-box;
    color: var(--black);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}

.thumb-container:hover {
    transition: ease-in-out;
    transition-duration: 0.25s;
    box-shadow: 4px 6px 6px var(--shadow);
}

.thumb-container:hover * {
    transition: ease-in-out;
    transition-duration: 0.25s;
    color: var(--accent);
    border-top-color: var(--accent);
}

.profile-img img {
    width: 100%;
}

.profile-info {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    border-top: 2px solid var(--black);
    margin: 0.25em 0;
}

.profile-info div {
    margin: 0.1em 0.1em 0 0.1em;
}

@media screen and (max-width: 768px) {
    .thumb-container {
        width: 100%;
        margin: 10px 0;
        font-size: 24px;
        padding: 12px;
    }

    .profile-info {
        border-top: 1px solid var(--black);
        margin: 5px 0 0 0;
    }
    
    .profile-info div {
        margin: 2px 2px 0 2px;
        padding: 6px 0 0 0;
    }
}