/* ----------- Container ----------- */

.profile-container {
    display: grid;
    grid-template-columns: 5fr 1vw 3fr;
    grid-gap: 2vw;
    align-items: stretch;
    justify-items: center;
}

@media screen and (max-width: 768px) {
    .profile-container {
        grid-template-columns: 1fr;
    }
}

/* ----------- Separator ----------- */

.separator {
    border-left: 2px solid black;
    justify-self: center;
    align-self: stretch;
}

@media screen and (max-width: 768px) {
    .separator {
        display: none;
        border-top: 2px solid black;
        justify-self: stretch;
        margin: 2vw;
    }
}

/* ----------- Img ----------- */

.profile-img {
    margin: 2em;
}

.profile-img img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .profile-img {
        margin: 10px;
    }
}


/* ----------- Name ----------- */

.profile-name {
    margin: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.2em;
    align-content: center;
    justify-items: center;
    justify-content: center;
    color: var(--black);
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
}

.name, .surname {
    font-size: 50px;
}

.nickname {
    font-style: italic;
    font-size: 40px;
}

@media screen and (max-width: 768px) {
    .profile-name {
        margin: 10px;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 0.5em;
    }

    .name, .surname, .nickname {
        font-size: 36px;
    }
    
    .nickname {
        font-style: italic;
    }
}

.icon {
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    .icon {
        display: none;
    }
}