<div class="profile-container" *ngIf="currentProfile">
  <div class="profile-img">
      <img [src]="currentProfile.imgUrl" alt="">
  </div>
  <div class="separator"></div>
  <div class="profile-name" >
    <div class="name">{{currentProfile.name}}</div>
    <div class="nickname">{{currentProfile.nickname}}</div>
    <div class="surname">{{currentProfile.surname}}</div>
    <div class="icon"><i class="material-icons">spa</i></div>
  </div>
</div>
<app-profile-details *ngIf="currentProfile" [currentProfile]="currentProfile"></app-profile-details>




