.overview-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .overview-container {
        width: 100%;
        padding: 10px;
    }
}