<nav>
  <div *ngIf="!isMobile" class="nav-container desktop">
    <div class="nav-sub-container">
      <div class="nav-item">
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="material-icons">spa</i> Yogis
        </a>
      </div>
    </div>
    
    <div class="nav-sub-container">
      <div class="nav-item">
        <a routerLink="profile" routerLinkActive="active">
          Profiler
        </a>
      </div>
      <div class="nav-item">
        <a routerLink="toplist" routerLinkActive="active">
          Topplistan
        </a>
      </div>
      <div class="nav-item">
        <a routerLink="data" routerLinkActive="active">
          Data
        </a>
      </div>
    </div>
  </div>

  <div *ngIf="isMobile" class="nav-container mobile">
    <div class="nav-item">
      <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="material-icons mobile">spa</i> Yogis
      </a>
    </div>
    <div class="nav-item">
      <i class="material-icons mobile">menu</i>
    </div>
  </div>
</nav>