<nav>
  <div *ngIf="!isMobile" class="nav-container desktop">
    <div class="nav-sub-container">
      <div class="nav-item">
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="material-icons">spa</i> Yogis
        </a>
      </div>
    </div>

    <div class="nav-sub-container">
      <div class="nav-item">
        <a routerLink="profile" routerLinkActive="active">
          Profiler
        </a>
      </div>
      <div class="nav-item">
        <a routerLink="toplist" routerLinkActive="active">
          Topplistan
        </a>
      </div>
      <div class="nav-item">
        <a routerLink="timescore" routerLinkActive="active">
          Data
        </a>
      </div>
    </div>
  </div>

  <div *ngIf="isMobile" class="nav-container mobile">
    <div class="nav-item">
      <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="material-icons mobile">spa</i> Yogis
      </a>
    </div>

    <div class="nav-item">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <a routerLink="profile" routerLinkActive="active">
            <mat-icon>people</mat-icon>Profiler
          </a>
        </button>
        <button mat-menu-item>
          <a routerLink="toplist" routerLinkActive="active">
            <mat-icon>loyalty</mat-icon>Topplistan
          </a>
        </button>
        <button mat-menu-item>
          <a routerLink="data" routerLinkActive="active">
            <mat-icon>show_chart</mat-icon>Data
          </a>
        </button>
      </mat-menu>
    </div>
  </div>
</nav>