.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-item {
    padding: 10px;
    background-color: aqua;
}

.nav-item:hover {
    background-color: aquamarine;
}