.profile-thumb {
    padding: 30px;
    width: 20vw;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);
    font-family: 'Open Sans Condensed', sans-serif;
}
.name, .surname {
    font-size: 50px;
}

.nickname {
    font-style: italic;
    font-size: 40px;
}