<div *ngIf="currentProfile" class="container">
  <div class="score">
    <h2>Score</h2>
    <p>{{score}}</p>
  </div>
  <div class="description">
    <h2>Om {{currentProfile.name}}</h2>
    <div *ngFor="let paragraph of currentProfile.description">
      <p>{{paragraph}}</p>
    </div>
  </div>
  <div class="traits">
    <h2>Egenskaper</h2>
    <div *ngFor="let trait of currentProfile.traits">
      <p>{{trait}}</p>
    </div>
  </div>
  <div class="achivements">
    <h2>Utmärkelser</h2>
    <div *ngFor="let achivement of currentProfile.achivements">
      <p>{{achivement}}</p>
    </div>
  </div>
</div>