.container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.toplist-item {
    width: 100%;
    padding: 1.5em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 50px 1fr 50px 20px;
    font-size: 24px;
}

.position {
    font-weight: 900;
}

.name {
    font-weight: 500;
    border-right: 2px solid var(--black);
}

.score {
    font-weight: 900;
}

app-toplist-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-light)
}