.toplist-item {
    width: 100%;
    padding: 1.5em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 50px 1fr 50px;
    max-width: 500px;
    font-size: 24px;
}

.position {
    font-weight: 900;
}

.name {
    font-weight: 500;
    border-right: 2px solid var(--black);
}

.score {
    font-weight: 900;
}