@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

a {
    color: inherit;
    text-decoration: none;
}

:root {
    /* Basics */
    --white: hsl(120, 10%, 95%);
    --light: hsl(120, 0%, 80%);
    --gray: hsl(120, 0%, 70%);
    --black: hsl(0, 0%, 0%);

    /* App colors */
    --main: hsl(190, 58%, 30%);
    --main-light: hsl(190, 58%, 60%);
    --main-dark: hsl(190, 58%, 20%);

    /* Other */
    --error: hsl(0, 75%, 50%);
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}